.header {
    font-size: 40px;
    font-size: xx-large;
    margin-bottom: 5vh;
}

.header img {
    vertical-align: middle;
    size: 30%;
}

/* Tecnica del container */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
    border: 2px solid blue;
}

.main button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#add-task {
    background-color: #008CBA;
    border: #008CBA;
}

#add-section {
    color: grey;
    background-color: #ffffff;
}